.flexContainer {
  display: flex;
  align-items: center;
}

.container {
  @extend .flexContainer;

  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 64px;
}

.footer {
  @extend .flexContainer;

  gap: 32px;
}

.switchContainer {
  @extend .flexContainer;

  gap: 8px;
}
