@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300&display=swap');

.flexContainer {
  display: flex;
  align-items: center;
}

.header {
  @extend .flexContainer;

  justify-content: center;
  padding: 16px;
  height: 80px;
}

.scoreContainer {
  @extend .flexContainer;

  margin-left: 16px;
}

.score {
  font-size: 36px;
}

.stopwatch {
  font-family: "Noto Sans SC", sans-serif;
  font-weight: 600;
  font-size: 44px;
}

.watchContainer {
  width: 164px;
}

.switchContainer {
  @extend .flexContainer;

  gap: 8px;
  margin-left: 32px;
}

:global {
  .ant-switch-checked {
    background: #91C788 !important;
  }

  .ant-btn-primary {
    background: #91C788 !important;
    border-color: #91C788 !important;
  }
}
